.container {
    border: 1px solid #cecece;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav > li > a {
    color: #8c8c8c;
    font-weight: 600;
}

.btn {
    margin-bottom: 1em;
}

label {
    font-weight: normal;
}
